# =====================================
# ROS 2
# =====================================
build/
install/
log/

# Colcon
.colcon/

# =====================================
# CMake
# =====================================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================================
# VS Code
# =====================================
.vscode/

# =====================================
# CLion
# =====================================
.idea/

# =====================================
# Vim
# =====================================
*.swp
*.swo

# =====================================
# Linux
# =====================================
*~
.DS_Store
Thumbs.db

# =====================================
# FreeCAD
# =====================================
*.FCStd1
*.FCBak

# =====================================
# Blender
# =====================================
*.blend1

# =====================================
# Temporary
# =====================================
*.tmp
*.bak
*.orig

# =====================================
# Logs
# =====================================
*.log
